.App {
  text-align: center;
}

#site-title{
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-header {
  background-color: rgb(3, 102, 0);
  height: 150px;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 10px;
  color: white;
}

.App-footer {
  padding-top: 50px;
}

.form-group {
  width: 75%;
  margin: 0 auto;
}

.App-intro {
  font-size: large;
}