.App {
  text-align: center;
}

#site-title{
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-header {
  background-color: #222;
  height: 150px;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 10px;
  color: white;
}

.App-intro {
  font-size: large;
}