.App {
  text-align: center;
}

#site-title{
  margin-top: 20px;
  margin-bottom: 20px;
}

.App-header {
  background-color: rgb(3, 102, 0);
  height: 150px;
  margin-bottom: 20px;
  padding: 20px;
  padding-bottom: 10px;
  color: white;
}

.App-footer {
  padding-top: 50px;
}

.form-group {
  width: 75%;
  margin: 0 auto;
}

button {
  margin-top: 10px;
}

th {
  text-align: center;
}

.App-intro {
  font-size: large;
}

#navbar a:link {
  color: white;
}

#navbar a:visited {
  color: white;
}

#navbar a:hover {
  color: white;
}

#navbar a:active {
  color: white;
}

#navbar {
  color: black;
  background-color: black;
  border-style: solid;
  border-color: black;
}

.selected-nav {
  background-color: rgba(0, 226, 72, 0.719);
}